<?xml version="1.0" encoding="utf-8"?>
<ExportConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <scriptNamespace />
  <xnaAssets>
    <TextureDir>Mobius\MobiusContent</TextureDir>
    <AudioDir />
    <MeshDir />
    <ScriptDir>Mobius\MobiusScripts</ScriptDir>
    <XmlDir />
  </xnaAssets>
  <unityScriptDir>Scripts</unityScriptDir>
  <exportDir>Mobius\MobiusContent</exportDir>
  <configSource>Editor\FFWD\PressPlay.FFWD.Exporter.dll.config</configSource>
  <showComponentsNotWritten>true</showComponentsNotWritten>
  <groups>
    <SceneGroup>
      <name>Main scenes</name>
      <baseSceneDir>Assets\Scenes</baseSceneDir>
      <validationScript />
      <scenes>
        <string>Game</string>
        <string>About</string>
        <string>EditorTests</string>
        <string>Levels</string>
        <string>MainMenu</string>
        <string>Splash</string>
      </scenes>
    </SceneGroup>
  </groups>
  <allowedSkippedComponents />
  <excludedScripts>
    <string>AssemblyInfo</string>
  </excludedScripts>
  <excludedPaths />
</ExportConfig>